
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet"  type="text/css" href="style.css"/>
    <title>Ani-Food</title>
</head>
<header><h1> <p class="ani_food">Add a new recipe!</p></h1></header>
<body>
    <form action="/home" method="POST">
        <div class="post_form">
            <label for="name">Name:</label>
            <input id="name" type="text" name="name" class="input_form"/>

            <label for="anime">Anime Title:</label>
            <input id="anime" type="text" name="anime" class="input_form"/>

            <label for="dish">Dish:</label>
            <input id="dish" type="text" name="dish" class="input_form"/>


            <label for="recipe">Recipe:</label>
            <input id="recipe" type="text" name="recipe" class="input_form"/>

            <label for="img">Anime Image:</label>
            <input id="img" type="text" name="anime_image" class="input_form"/>

            <label for="img">Rl Image:</label>
            <input id="img" type="text" name="rl_image" class="input_form"/>

        {{!-- <form id="uploadForm" enctype="multipart/form-data">

            <label for="img">Anime Image:</label>
            <input id="myfiles" accept="image/*" multiple type="file" name="anime_image" class="input_form"/>

            <label for="img">Rl Image:</label>
            <input id="myfiles" accept="image/*" multiple type="file" name="rl_image" class="input_form"/> --}}
            {{!-- <button>Submit</button>
        </form>
        <br/>
        <br/> --}}
        {{!-- <h2></h2>
        <h3></h3> --}}
        {{!-- <script>
            const form = document.getElementById('uploadForm')
            

            const sendFiles = async () => {
                const myFiles = document.getElementById('myFiles').files

                const formData = new FormData()

                Object.keys(myFiles).forEach(key => {
                    formData.append(myFiles.item(key).name, myFiles.item(key))
                })

                const response = await fetch('http://localhost:4000/home', {
                    method: 'POST',
                    body: formData
                })

                const json = await response.json()


                const h2 = document.querySelector('h2')
                h2.textContent = `Status: ${json?.status}`

                const h3 = document.querySelector('h3')
                h3.textContent = json?.message

                console.log(json)
            }

            form.addEventListener('submit', (e) => {
                e.preventDefault()
                sendFiles()
            })
        </script> --}}




            
        </div>
        <input type="submit" class="submit_button"/>
        <br/>
        <a href="/home" class="cancel_button">&#8592;</a>
    
    </form>
</body>
</html>
