
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet"  type="text/css" href="style.css"/>
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bangers&family=Monoton&family=Orbitron&family=Rubik+Moonrocks&display=swap" rel="stylesheet">
<span>
    <a href="/home"><h1> <p class="ani_food">Ani-Food</p></h1></a>
</span>
                    <h1> <p class="new">Add a new recipe!</p></h1>
<body class="newnew">
    <form action="/home" method="POST">
        <div class="post_form">
            <label for="name">Name:</label>
            <input id="name" type="text" name="name" class="input_form"/>

            <label for="anime">Anime Title:</label>
            <input id="anime" type="text" name="anime" class="input_form"/>

            <label for="dish">Dish:</label>
            <input id="dish" type="text" name="dish" class="input_form"/>


            <label for="recipe">Recipe:</label>
            <input id="recipe" type="text" name="recipe" class="input_form"/>

            <label for="img">Anime Image:</label>
            <input id="img" type="text" name="anime_image" class="input_form"/>

            <label for="img">Rl Image:</label>
            <input id="img" type="text" name="rl_image" class="input_form"/>

    </div>
        <input type="submit" class="submit_button"/>
        <br/>
       
    
    </form>
</body>
</html>
