/* html{
    background-color: black;
} */

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }


  .submit_button{
    display: inline-block;
  padding: 2px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {background-color: #3e8e41}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.image{
    max-width: 50%;
    max-height: 50%;
    align-items: center;
    display: flexbox;
}
.title{
    border-style: solid;
    text-align: center;
    max-width: 50%;
    max-height: 50%;
    margin-left: 300px;
    
}

.ani_food{
    text-align: center;
    max-width: 50%;
    max-height: 50%;
    margin-left: 305px;
    /* color: white; */
}

div{
    border-style: solid;
}

.dish{
    text-align: center;
    max-width: 50%;
    max-height: 50%;
    margin-left: 305px;
}
.recipe{
    text-align: center;
    max-width: 50%;
    max-height: 50%;
    margin-left: 305px; 
}

.post{
    color: blueviolet;
}

.content{
    color: black;
}

.post_form{
    /* color: white; */
    border-radius: 8px;
}

.cancel_button{
    font-size: 55px;
    /* color: white; */
}